* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #f3f3f4;
}

@font-face{
    font-family: 'GT-Walsheim-Bold';
    src: url(../fonts/GT-Walsheim-Bold.otf);
}

.btn-logros {
    min-width: 224px;
    min-height: 48px;
    display: inline-block;
    border-radius: 100px;
    font-family: GTWalsheim Bold;
    font-size: 18px;
    line-height: 45px;
    text-align: center;
    background-color: #1826c4;
    letter-spacing: .4px;
    color: #fff;
    border: 2px solid #1826c4;

}

.grid-div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
    font-family: 'GT-Walsheim-Bold';
}

.title .user-pts h2{
    display: inline-block;
}

.grid-div-dos{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    font-family: 'GT-Walsheim-Bold';
}

.logo{
    width: 90%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.title{
    display: inline-block;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bar{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #1826c4;
    border-radius: 100px;
    max-width: 400px;
    justify-content: center;
}

.bar .bar-line p{
    color: #ffffff;
    text-align: center;
    padding-top: 10%;
    letter-spacing: .4px;
}

.list{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 12;
}

.div-btn{
    display: flex;
    justify-content: center;
}

#btn-iunigo,
#btn-iunigo-uno,
#btn-iunigo-dos{
    margin: auto;
    background-color: #1826c4;
}

#btn-iunigo:hover,
#btn-iunigo-uno:hover,
#btn-iunigo-dos:hover{
    background-color: white;
    color: #1826c4;
}

/* --------------------Estilos de Canje------------------------- */

.grid-div-canje{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    font-family: 'GT-Walsheim-Bold';
}

.grid-div-canje img{
    display: inline-block;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.title-canje{
    display: flex;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 7;
    justify-content: flex-start;
}

.body-div{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 8;
    grid-row-end: 13;
}

.body-div-uno{
    color: #1826c4;
    grid-column-start: 2;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 5;
}

.body-div-dos{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 7;
    grid-row-end: 12;
}

@media (min-width: 1025px){

    .title {
        display: flex;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 3;
        grid-row-end: 5;
        justify-content: space-around;
    }

    .body-div{
        display: block;
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 8;
        grid-row-end: 11;
    }

    .bar{
        grid-column-start: 5;
    }

    .mb-0{
        display: flex;
        justify-content: center;
    }

    .body-div{
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-column-start: 2;
        grid-column-end: 12;
        grid-row-start: 8;
        grid-row-end: 13;
    }
    
    .body-div-uno{
        color: #1826c4;
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 5;
    }

    #h2f {
        font-size: 4rem;
    }
    
    .body-div-dos{
        font-style: italic;
        grid-column-start: 3;
        grid-column-end: 12;
        grid-row-start: 7;
        grid-row-end: 12;
    }
